h1{
    color: darkblue;
    text-align: center;
}
.two{
    color: blue;
}
.three{
    background-image: url("abc4.jpg");
    width:100% ;
    height:500px;
    background-size: cover;
    background-repeat: no-repeatS;
    background-position: center;
    background-attachment: fixeD;
}
.five{

    width: 100%;
    height: 50;
    border-collapse: collapse;
    padding: 10px;
    text-align: center;
    background-attachment: fixeD;
   
}
td,th{
    border: 5px solid chocolate;
  color: aliceblue;
}
